<html>
<head>
    <title>Login Here</title>
    <link rel="stylesheet" type="text/css" href="css/module.css">
</head>
<body>

<!-- NavBar Header -->
<%- include('navbar.ejs', {user: user}); %>

<form action="/toggle" method="post">
    <select name="widget" size="1">
        <% if (widgets) { %>
            <% widgets.forEach(function(user) { %>
                <% if (!user.activated) { %>
                    <option> <%- user.widget %>
                <% } %>
            <% }); %>
         <% } %>
    </select>

    <input class="btn btn-primary" type="submit" name="" value="Add Widget">
</form>

<div class="container">
    <ul>
        <% if (widgets) { %>
            <% widgets.forEach(function(user) { %>
                <% if (user.activated) { %>
                    <%- include(user.file, {user: user}); %>
                <% } %>
            <% }); %>
        <% } %>
    </ul>
</div>
</body>
</html>