<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>

<!-- NavBar Header -->
<% include nav.ejs %>

<div class="menu">
    <div class="login">

    </div>

    <div class="signin">

    </div>
</div>

</body>
</html>