<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>
<!-- NavBar Header -->
<%- include('navbar.ejs', {user: user}); %>

<div class="menu">
    <div class="login">
        <% if (user) { %>
            <h1>You are login in as : <%- user %> !</h1>
        <% } else { %>
            <h1>Not login for now</h1>
        <% } %>

    </div>

    <div class="signin">

    </div>
</div>

</body>
</html>