<strong>DashBoard Project</strong>

<form method='get' action='\'>
     <input name="username" id="stack0"/>
     <input name="password" id="stack1"/>
     <button type='submit'>Click</button>
</form>
