<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
<body>

<div class="loginbox">

    <img src="img/avatar.png" class="avatar">
    <h1>Login to dashboard</h1>
    <% if (error.username || error.password) { %>
        <p type="ko">Wrong password or Username</p>
    <% } %>
    <form action="/login" method="post">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <input class="btn btn-primary" type="submit" name="" value="Sign up">
        <a href="#">Lost your password?</a><br>
        <a href="/signup" >Don't have an account?</a>
    </form>

</div>

</body>
</head>
</html>