<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		type="text/css" rel="stylesheet" />
		
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>
	<body>
		<div class="container">
			<h1>Node and MySQL!</h1>
			<form method="POST" action="/login">
				<input type="submit" class="btn btn-primary" value="  Login " />
			</form>
			<form method="POST" action="/register">
				<input type="submit" class="btn btn-primary" value="Register" />
			</form>
		</div>
	</body>
</html>