<html>
<head>
    <title>Weather Widget Presure</title>
    <link rel="stylesheet" type="text/css" href="css/module.css">
</head>

<body>
<!-- Page Name -->
<li type="module_normal">
    <form action="/tmp" method="post">
        <button name="<%- user %>" onclick="location.href='/tmp'"><a>Edit</a></button>
    </form>
    <h1>
        city = <%- user.city %>
    </h1>
    <h1>
        pressure = <%- user.pressure %>
    </h1>
    <!-- Mandatory -->
</li>

</body>
</html>