<html>
<head>
    <title>Weather Widget temperature</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>

<body class="container">

<!-- Page Name -->
<div class="page-header">
    <h1>THIS IS TEMPS</h1>
    <h1>Selected City = <%- user.city %> </h1>
    <h3>Temperature = <%- user.temperature %> </h3>
</div>

<!-- Page Data -->
<div class="container row">

</div>

</body>
</html>