<html>
<head>
    <title>Weather Widget Presure</title>
    <link rel="stylesheet" type="text/css" href="css/module.css">
</head>

<body>

<!-- Page Name -->
<li type="module">
    <% user.pressure %>

</li>


</body>
</html>