.loginbox {
    opacity: 0.85;
    filter: alpha(opacity=50);
    width: 320px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 52%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 30px;
}

.signup {
    width: 320px;
    height: 480px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    z-index: 2;
}

h1 {
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox p[type="ko"] {
    color: red;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.loginbox input[type="submit"] {
    margin-top: 10px;
    border: none;
    outline: none;
    height: 40px;
    background: #191970;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #00008B;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}
